<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.record.mapper.CompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.record.entity.Company">
        <id column="company_id" property="companyId" />
        <result column="name" property="name" />
        <result column="introduction" property="introduction" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="qr_code" property="qrCode" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        company_id, `name`, introduction, phone, address, qr_code, create_time, is_delete
    </sql>

</mapper>
