<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.record.mapper.DesignerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.record.entity.Designer">
        <id column="designer_id" property="designerId" />
        <result column="name" property="name" />
        <result column="avatar" property="avatar" />
        <result column="content" property="content" />
        <result column="content_html" property="contentHtml" />
        <result column="create_time" property="createTime" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        designer_id, name, avatar, content, content_html, create_time, is_delete
    </sql>

</mapper>
